<div class="admin">
<h1> hi dima </h1>
<form>
  <fieldset>
    <input type="text" id="one" placeholder="Current status message"><br>
    <input type="text" id="two" placeholder="Who's playing now?"><br>
    <label class="checbox">
      Live?
      <input id="live" type="checkbox"></input>
    </label>
    <br>
    <button type="submit" class="btn">Update</button>
    <span id="form-status" class="help-block"></span>
  </fieldset>
</form>
</div>
