<div id="messages">
  <input type="text" placeholder="..." id="chatbox"></input>
  <input type="text" placeholder="nickname" id="nickname"></input>
  <dl></dl>
</div>
<div class="enable">hide chat</div>
