<h1 id="status">{{one}}</h3> 
<h2 id="now-playing">{{two}}</h4>
{{#if live}}
<audio src="{{stream}}">
  <a href="{{stream}}.m3u">Click here for stream, old browser user.</a>  
</audio>
<div id="play-control" class="btn" class="entypo">&#9654;</div>
{{/if}}
